body{
    background-color: white;
}

.welcome{
    margin-top: 100px;
    height: 500px;
    font-family: "DejaVu Sans Light";
    background-image: url("dessinvert.jpg");
    background-position: right top;
    margin-right: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome h1{
    padding-top: 50px;
    margin-left: 70px;
    font-size: 60px;
    width: 40%;
}

.welcome p{
    margin-left: 50px;
    font-size: 20px;
}

.research{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px; /*Makes sure the header don't hide the research section*/
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
}
.research h2 {
    font-family: 'Delicious Handrawn', cursive;

}

.fleche{
    width:30px;
}

.research-form{
    display: flex;
}

.filters{
    display: flex;
    flex-direction: column;
}

input {
    margin-left: 5px;
    padding: 10px;
    width: 200px;
}

label{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.research-button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: auto 50px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.description{
    display: flex;
    margin-top: 50px;
}

.description-zone{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}



