<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
<head>
  <title>CSS</title>
  <th:block th:fragment="html-header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/styles.css" th:href="@{/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Bebas Neue" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </th:block>
</head>
<body>

</body>
</html>