<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Barre de rechercher d'hôtels</title>
    <link rel="stylesheet" href="/styleFragmentRecherche.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
  </head>

  <fragmentRecherche th:fragment="recherche">
      <form method="get" class="research-form" th:action="@{/chercherHotel}">
        <div class="filters">
          <label for="dateDebut">Arrivée ?</label>
          <input type="date" id="dateDebut" name="dateDebut" placeholder="Date de début">
        </div>
        <div class="filters">
          <label for="dateFin">Départ ?</label>
          <input type="date" id="dateFin" name="dateFin">
        </div>
        <div class="filters">
          <label for="ville">Où ?</label>
          <input type="text" id="ville" name="ville" placeholder="ex. : Paris">
        </div>
        <div class="filters">
          <label for="nbPersonne">Nombre de voyageurs ?</label>
          <input type="number" id="nbPersonne" name="nbPersonne" placeholder="ex. : 1">
        </div>
        <button type="submit" class="research-button">Go</button>
      </form>
  </fragmentRecherche>
</html>