<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Changer son mot de passe</title>

</head>

  <h1>Minorease</h1>
</header>
<div class="motif motif-lt-left-visible"/></div>
<div class="motif motif-lt-right-visible"/></div>
<body>
<main class="form-signin">
  <form method="post" th:action="@{/change-password}" th:object="${user}">
    <h2>Changez votre mot de passe</h2>
    <div class="alert alert-success" role="alert" th:if="${param.success}">
      Mot de passe modifié avec succès
    </div>
    <p>
      <button th:if="${param.success}" id="btn-change-password-success" class="btn btn-success" type="button"
              onclick="window.location='/'">
        Retour
      </button>
    </p>
    <th:block th:unless="${param.success}">
      <div class="form-group">
        <label for="oldPassword" class="sr-only">Ancien mot de passe :</label>
        <input type="password" id="oldPassword" name="oldPassword" class="form-control"
               placeholder="Ancien mot de passe"
               required="">
        <div class="alert alert-warning" role="alert" th:errors="*{oldPassword}"></div>
      </div>
      <div class="form-group">
        <label for="newPassword" class="sr-only">Nouveau mot de passe :</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control"
               th:field="*{newPassword}" th:value="*{newPassword}"
               placeholder="Nouveau mot de passe"
               required="">
        <div class="alert alert-warning" role="alert" th:errors="*{newPassword}"></div>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="sr-only">Confirmation :</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
               placeholder="Confirmer" required="">
        <div class="alert alert-warning" role="alert" th:errors="*{confirmPassword}"></div>
      </div>
      <button id="btn-cancel-change-password" class="btn btn-lg btn-danger" type="button"
              onclick="window.location='/'">
        Annuler
      </button>
      <button class="btn btn-lg btn-default btn-success" type="submit">Modifier</button>
    </th:block>
  </form>
</main>
</body>
</html>