<!doctype html>
<html lang="fr">
<head>

    <th:block th:replace="~{fragments/fragment-meta :: html-header}"></th:block>

    <title>Renseigner le code de réservation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/styleCodeReservation.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">


</head>
<body>

<header th:replace="~{fragments/fragment-header :: header}" class="mb-4"></header>
<div class="container mt-5">
    <div class="card">
        <h1 style="font-family: 'Delicious Handrawn', cursive; margin-bottom: 30px;" class="title">Renseigner le code de
            réservation</h1>
        <p class="description">Afin de faciliter l'accès aux informations concernant la réservation, vous avez reçu par
            mail ou SMS un code composé de 16 caractères. Il est conçu pour faciliter votre expérience d'utilisation en
            vous permettant d'avoir accès très rapidement à vos informations de réservations.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="photo" src="rentreCode.png" alt="Photo">
        </div>
        <div class="col-md-6">
            <p class="texte">Veuillez renseigner votre code de réservation afin d'accéder à vos informations :</p>
            <input type="text" class="code-reservation" placeholder="Code de réservation">
            <button class="btn btn-primary btn-valider">Valider mon code</button>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="~{fragments/fragment-footer :: footer}"></footer>

<!-- Optionnel JavaScript -->
<!-- jQuery d'abord, puis Popper.js, puis Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
