<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/fragment-meta :: html-header}"></th:block>
    <link type="text/css" rel="stylesheet" href="/styleFiche.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <title th:text="${hotel.libelle}">Hôtel</title>
</head>
<body>
<header th:replace="~{fragments/fragment-header :: header}"></header>

<main>
    <div class="container top">

        <div class="retour">
            <button type="button" class="btn" th:href="@{/Hotel/{ville}/{dateDebut}/{dateFin}/{nbPersonne}/{prixMax}/{prixMini}}">Retour</button>
        </div>


        <div class="row justify-content-lg-center">
            <div class="col-lg-4">
                <div class="card">
                    <img src="/hotel.jpg" class="card-img-top" alt="hotel" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 th:text="${hotel.libelle}" class="card-title"></h5>
                        <div class="description" th:text="${hotel.description}"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="container">
                    <h5>Chambre 1</h5>
                    <div class="image-container d-flex flex-wrap justify-content-center">
                        <img src="/hotel.jpg" alt="hotelimg" class="img-fluid">
                        <img src="/hotel.jpg" alt="hotelimg" class="img-fluid">
                    </div>
                        <div class="quantity">
                            <button type="button" onclick="decreaseQuantity('quantityInput')">-</button>
                            <input style="width: 30px;" type="number" value="0" name="quantity" id="quantityInput">
                            <button type="button" onclick="increaseQuantity('quantityInput')">+</button>
                        </div>
                    </div>

                    <div class="container">
                    <h5>Chambre 2</h5>
                    <div class="image-container d-flex flex-wrap justify-content-center">
                        <img src="/hotel.jpg" alt="hotelimg" class="img-fluid">
                        <img src="/hotel.jpg" alt="hotelimg" class="img-fluid">
                    </div>
                        <div class="quantity">
                            <button type="button" onclick="decreaseQuantity('quantityInput')">-</button>
                            <input style="width: 30px;" type="number" value="0" name="quantity" id="quantityInput2">
                            <button type="button" onclick="increaseQuantity('quantityInput')">+</button>
                        </div>
                    <a >
                        <button th:href="@{reserver/hotel/{id}/recap(id=${hotel.id})}" type="submit" class="btn">
                            Réserver
                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



        <div class="card info" th:object="${hotel}">
            <h5>Les informations de l'hôtel</h5>
            <div class="adresse" th:text="${hotel.adresse}"></div>
            <div class="codepostal" th:text="${hotel.code_postal}"></div>
            <div class="ville" th:text="${hotel.ville}"></div>
            <div class="url" th:text="${hotel.url}"></div>
            <div class="moyenne" th:text="${hotel.moyenne}"></div>
        </div>



</main>

<footer th:replace="~{fragments/fragment-footer :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    function increaseQuantity(inputId) {
        var inputElement = document.getElementById(inputId);
        var currentValue = parseInt(inputElement.value);
        inputElement.value = currentValue + 1;
    }

    function decreaseQuantity(inputId) {
        var inputElement = document.getElementById(inputId);
        var currentValue = parseInt(inputElement.value);
        if (currentValue > 0) {
            inputElement.value = currentValue - 1;
        }
    }
</script>
</body>
</html>