<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accueil</title>
    <th:block th:replace="~{fragments/fragment-meta :: html-header}"></th:block>
    <link rel="stylesheet" href="/styleIndex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
</head>

<body>

<header th:replace="~{fragments/fragment-header :: header}">
</header>

<main>
    <div class="welcome">
        <h1 class="welcome-title">Voyagez en toute confiance avec MINOREASE</h1>
        <p class="welcome-text">Application de réservation d'hôtels pour les 16 / 17 ans </p>
    </div>

    <div class="research">
        <h2>Pour chercher un hôtel, c'est par ici <img src="fleche.PNG" class="fleche"/></h2>
        <form class="research-form">
            <div class="filters">
                <label for="dateDebut">Arrivée ?</label>
                <input type="date" id="dateDebut" name="dateDebut" placeholder="Date de début">
            </div>
            <div class="filters">
                <label for="dateFin">Départ ?</label>
                <input type="date" id="dateFin" name="dateFin">
            </div>
            <div class="filters">
                <label for="ville">Où ?</label>
                <input type="text" id="ville" name="ville" placeholder="ex. : Paris">
            </div>
            <button type="submit" class="research-button">Go</button>
        </form>
    </div>

    <div class="description">
        <div class="description-zone">
            <h2>Quels sont les avantages de MINOREASE ?</h2>
            <p>Minorease permet aux jeunes de 15 ans à 18 ans de loger dans un contexte sécurisé lors de leurs déplacements. </p>
        </div>
        <div class="description-zone">
            <p>Un large choix d'hôtels assurant l'accueil des mineurs</p>
            <p>Une gestion sécurisée des documents d'identité</p>
            <p>Une interface simple et pratique pour le suivi de vos réservations</p>
        </div>
    </div>

</main>

</body>

</html>
