<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accueil</title>
    <th:block th:replace="~{fragments/fragment-meta :: html-header}"></th:block>
    <link rel="stylesheet" href="/styleIndex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>

<body>

<header th:replace="~{fragments/fragment-header :: header}"></header>

<main>
    <div class="welcome">
        <h1 class="welcome-title">Voyagez en toute confiance avec MINOREASE</h1>
        <p class="welcome-text">Application de réservation d'hôtels à partir de 15 ans</p>
    </div>

    <div class="mt-4"></div>

    <div class="research">
        <div class="container">
            <h2 class="text-center mb-4">Pour chercher un hôtel, c'est par ici <img src="fleche.PNG" class="fleche" /></h2>
            <form class="research-form row">
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label for="dateDebut">Arrivée</label>
                        <input type="date" id="dateDebut" name="dateDebut" class="form-control" placeholder="Date de début">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label for="dateFin">Départ</label>
                        <input type="date" id="dateFin" name="dateFin" class="form-control">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label for="ville">Où ?</label>
                        <input type="text" id="ville" name="ville" class="form-control" placeholder="ex. : Paris">
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Go</button>
                </div>
            </form>
        </div>
    </div>


    <div class="description">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title">Quels sont les avantages de MINOREASE ?</h2>
                            <p class="card-text">Minorease permet aux jeunes de 15 ans à 18 ans de loger dans un contexte sécurisé lors de leurs déplacements.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Pourquoi choisir MINOREASE ?</h4>
                            <ul class="list-unstyled">
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-building text-primary"></i>
                                    <span class="ms-2">Un large choix d'hôtels assurant l'accueil des mineurs</span>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-shield-lock text-primary"></i>
                                    <span class="ms-2">Une gestion sécurisée des documents d'identité</span>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-gear text-primary"></i>
                                    <span class="ms-2">Une interface simple et pratique pour le suivi de vos réservations</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<footer th:replace="~{fragments/fragment-footer :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
