<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
<header>
</header>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Voyagez en toute confiance avec MINOREASE</h1>
            <p class="lead">Simplifiez la réservation d'hôtels pour les mineurs </p>
        </div>

        <div class="research">
            <h1>Recherche d'hôtel</h1>
            <form class="form-inline">
                <div class="form-group mr-sm-2">
                    <label for="dateDebut" class="mr-2">Date de début :</label>
                    <input type="date" class="form-control" id="dateDebut" name="dateDebut">
                </div>
                <div class="form-group mr-sm-2">
                    <label for="dateFin" class="mr-2">Date de fin :</label>
                    <input type="date" class="form-control" id="dateFin" name="dateFin">
                </div>
                <div class="form-group mr-sm-2">
                    <label for="ville" class="mr-2">Ville :</label>
                    <input type="text" class="form-control" id="ville" name="ville">
                </div>
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
        </div>

        <div class="mt-5">
            <p>Voyagez en toute confiance avec MINOREASE : Simplifiez la réservation d'hôtels pour les mineurs </p>
        </div>
    </div>
</main>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
